<h1><strong>How Many Times?</strong></h1>
<h3>Here you can check how many times a particular word is included in a phrase!</h3>
<form action="/word_count">
  <div class="form-group">
    <label for="sentence">What is the phrase? Note: do not include punctuation</label>
    <input id="sentence" name="sentence" class="form-control" type="text">
    <label for="word">Word to count</label>
    <input id="word" name="word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Count!</button>
</form>
