<h1><strong>Results:</strong></h1>
<h3>The sentence contains the word "<%= @word %>" <strong><%= @count %> time(s)!</strong></h3>
<hr style="border: 1px solid black">
<h5><a href = "/">Check another word or phrase</a></h5>
